<div ng-repeat="group in groups" class="table-content">
	<h6>{{group.groupName}}</h6>

	<table  class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp contacts-table">
	<tr ng-repeat="member in group.members" ng-click="openViewContactPopup(member)">
		<td class="mdl-data-table__cell--non-numeric">{{ member.firstName + " " + member.lastName }}</td>
		<td class="mdl-data-table__cell--non-numeric">{{ member.loginEmail }}</td>
		<td class="mdl-data-table__cell--non-numeric">{{ member.contactNumbers[0].value }}</td>
	</tr>
	</table>
	<button ng-click="openAddMemberPopup(group)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored floatR">
		<i class="material-icons">add</i>
	</button>
</div>

<!-- Colored mini FAB button -->

	<button ng-click="openAddGroupPopup()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored add-btn">
		<i class="material-icons">add</i>
	</button>